<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/assets/img/icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    ProjectHub
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/assets/css/material-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-expand-lg bg-dark fixed-top" style="right: 0; margin-right: 0px; height: 65px; min-height: 65px;" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://project-hub-2020.herokuapp.com/dashboard">ProjectHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse d-flex align-items-center">
        <ul class="navbar-nav ml-auto  d-flex align-items-center">
          <li class="nav-item d-flex align-self-center">
            <a href="/chat" target="_blank" class="nav-link">
              CHAT
            </a>
          </li>
          <li class="nav-item">
            <a href="https://project-hub-2020.herokuapp.com/logout" class="nav-link">
              LOGOUT
            </a>
          </li>
          <li class="nav-item">
            <a href="http://project-hub-2020.herokuapp.com/profile_page" class="nav-link">
              Hello! <%=user.username%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
